{{define "Header"}}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{.Title |html}} // Coding Skyscrapers</title>

	<meta name="keywords" content="{{.Keywords |html}}">
	<meta name="description" content="{{.Description |html}}">

	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="alternate" type="application/rss+xml" title="Coding Skyscrapers by Matt West" href="/rss" />
</head>
<body>
	<div id="container" class="clearfix">
{{end}}

{{define "Sidebar"}}
		<!-- LEFT Side -->
		<section id="left">
			<header>
				<hgroup>
					<h1><a href="/" title="Coding Skyscrapers">Coding Skyscrapers</a></h1>
					<h2>Written by <a href="https://plus.google.com/103780700566333678292?rel=author" title="Matt West" rel="author">Matt West</a></h2>
				</hgroup>

				<nav>
					<h3 class="recent">Recent Posts</h3>
					<ul class="recent">
						{{range .Recent}}
							<li><a href="/{{.Slug}}" title="{{.Title}}">{{.Title}}</a></li>
						{{end}}
					</ul>

					<h3>Tags</h3>
					<ul>
						{{range .Tags}}
							<li><a href="/tag/{{.Title}}" title="{{.Title}}">#{{.Title}}</a></li>
						{{end}}
					</ul>

					{{template "Nav"}}
				</nav>
			</header>
			<footer>
				<span>&copy; 2012 Matt West. All Rights Reserved</span>
			</footer>
		</section>
		<!-- CENTER -->
		<section id="center" class="clearfix">
{{end}}

{{define "Nav"}}
		<h3>Pages</h3>
			<ul class="clearfix">
			<li><a href="/" title="Home">Home</a></li>
			<li><a href="/archive" title="Archives">Archives</a></li>
			<li><a href="/page/about" title="About">About</a></li>
		</ul>
{{end}}

{{define "Archive"}}
	<article>
		<header>
			<h1>Archives</h1>
		</header>
		<ul>
		{{range .}}
			<li><a href="{{.Slug}}" title="{{.Title}}">{{.Title}}</a></li>
		{{end}}
		</ul>
	</article>
{{end}}

{{define "Post"}}
<article>
	<header>
		<h1><a href="/{{.Slug |html}}" title="{{.Title |html}}">{{.Title |html}}</a></h1>
	</header>
	<div>
		{{.Content}}
	</div>
	<footer>
		<p>
			<time datetime="{{.MachineDate |html}}">Posted on {{.Date |html}}</time> - Tagged: {{range .Tags}}<a href="/tag/{{.}}" class="postTag">#{{.}}</a> {{end}}
		</p>
		<p>
			<!-- Twitter -->
			<div class="tweet-btn">
				<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="http://codingskyscrapers.com/{{.Slug |html}}" data-via="MattAntWest" data-text="{{.Title |html}}">
					Tweet
				</a>
			</div>
			<!-- Google+ -->
			<div class="g-plusone" data-size="medium" data-href="http://codingskyscrapers.com/{{.Slug |html}}"></div>
			<!-- Facebook -->
			<div class="fb-like" data-href="http://codingskyscrapers.com/{{.Slug |html}}" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" data-font="arial"></div>
		</p>
	</footer>
</article>
{{end}}

{{define "Comments"}}
<div id="comments">
	<div id="disqus_thread"></div>
	<script type="text/javascript">
	    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	    var disqus_shortname = 'codingskyscrapers'; // required: replace example with your forum shortname

	    /* * * DON'T EDIT BELOW THIS LINE * * */
	    (function() {
	        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
	        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	    })();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
{{end}}

{{define "Footer"}}
		</section>
		<!-- RIGHT Side -->
		<section id="right">

		</section>
	</div>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-12756669-22']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	<script type="text/javascript">
	  window.___gcfg = {lang: 'en-GB'};

	  (function() {
	    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	    po.src = 'https://apis.google.com/js/plusone.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	  })();
	</script>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>
{{end}}